@import "tailwindcss";

::-webkit-scrollbar{
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #1F1E24;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #6556CD;
}